name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Build (default)
        run: cargo build --verbose

      - name: Test (default)
        run: cargo test --verbose

      - name: Test (std)
        run: cargo test --features std --verbose

      - name: Test (kat)
        run: cargo test --features kat --verbose

      - name: Format
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --all-targets --features std -- -D warnings
